body {
    width: 100%;
	margin: 0;
    overflow: hidden;
    background-color:#4128ce;
}

.app {
    
    /*background: linear-gradient(to bottom, #004169 , #002135 45% );*/
    background: radial-gradient(ellipse at top, #8778e5 , #4128ce 45%);
}

#animated {
    position: absolute;
    width: 100%;
    height: 75%;
}



